{{!-- Comment partial for displaying individual comments --}}
<article class="comment-item">
  <div class="comment-header">
    <div class="avatar">{{avatarInitials}}</div>
    <div class="comment-meta">
      <h3 class="comment-author">{{username}}</h3>
      <p class="comment-date">{{createdAt}}</p>
    </div>
  </div>
  <div class="comment-content">
    {{content}}
  </div>
</article>